@model MvcApp.Models.Create.CreateStudentModel
@{
    Model.Groups.Name = "Группы";
}
<fieldset>
    <legend>Student</legend>
    @Html.ValidationSummary(true)
    @if (Model.Model != null && Model.Model.Id > 0)
    {
        @Html.HiddenFor(x => x.Model.Id)
        @Html.HiddenFor(x => x.Model.EntityVersion)
    }
    <div class="editor-label">
        @Html.LabelFor(model => model.Model.Fio)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Model.Fio)
        @Html.ValidationMessageFor(model => model.Model.Fio)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Model.Pass)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Model.Pass)
        @Html.ValidationMessageFor(model => model.Model.Pass)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Model.Email)
        @Html.ValidationMessageFor(model => model.Model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Model.Age)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Model.Age)
        @Html.ValidationMessageFor(model => model.Model.Age)
    </div>
    @Html.EditorFor(x => x.Groups)
</fieldset>
