@model MvcApp.DalEntities.Entities.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Group)
    </div>
    <div class="display-field">
        @if (Model.Group != null)
        {
            <span>@Html.ActionLink(Model.Group.GroupNumber, "Details", "Group", new {id = Model.Group.Id}, null)</span>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
