@model MvcApp.DalEntities.Entities.Specialty

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Specialty</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mentor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mentor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
