@model MvcApp.Models.Create.CreateCourseModel
@{
    Model.Sets.Name = "Направления";
    Model.Subjects.Name = "Предметы";
    Model.Groups.Name = "Группы";
}
<fieldset>
    <legend>Course</legend>
    @Html.ValidationSummary(true)
    @if (Model.Model != null && Model.Model.Id > 0)
    {
        @Html.HiddenFor(x => x.Model.Id)
        @Html.HiddenFor(x => x.Model.EntityVersion)
    }
    <div class="editor-label">
        @Html.LabelFor(model => model.Model.Number)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Model.Number)
        @Html.ValidationMessageFor(model => model.Model.Number)
    </div>
    @Html.EditorFor(x => x.Sets)
    @Html.EditorFor(x => x.Subjects)
    @Html.EditorFor(x => x.Groups)
</fieldset>