@model MvcApp.DalEntities.Entities.Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Course</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Groups)
    </div>
    <div class="display-field">
        @if (Model.Groups != null)
        {
            foreach (var item in Model.Groups)
            {
                <span>@Html.ActionLink(item.GroupNumber, "Details", "Group", new {id = item.Id}, null) , </span>
            }
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
