@model IEnumerable<MvcApp.DalEntities.Entities.Set>

@{
    ViewBag.Title = "Специализации";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

                      <div class="row">
                          <div class="col s12 m6">
                              <h2>
                                  Специализации
                                  <a class="btn-floating" href="@Url.Action("Create", "Set")"><i class="mdi-content-add"></i></a>
                              </h2>
                          </div>
                      </div>






                      <div class="row">
                          <div class="col s12 m6 l6"><h4>Название</h4></div>
                          <div class="col s12 m6 l4"></div>
                          <div class="col s12 m6 l2"><p></p></div>
                      </div>

@foreach (var item in Model)
{



    <div class="row">
        <div class="col s12 m6 l6"><p>@Html.DisplayFor(modelItem => item.Name)</p></div>
        
        <div class="col s12 m6 offset-s4 l2">
            <ul id="@item.Id" class="dropdown-content">
                <li>@Html.ActionLink("Изменить", "Edit", new { id = item.Id }, new { @class = "waves-effect waves-light btn" })</li>
                <li>@Html.ActionLink("Подробно", "Details", new { id = item.Id }, new { @class = "waves-effect waves-light btn disabled" })</li>
                <li>@Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "waves-effect waves-light btn red" })</li>
            </ul>
            <a class="btn dropdown-button" href="#!" data-activates="@item.Id">Функции<i class="mdi-navigation-arrow-drop-down right"></i></a>
        </div>

        </div>




}


